@media only screen and (min-width: 768px) {
  .signUp, .shows, footer {
    flex-direction: row;
  }

  .show-wrapper {
    margin-top: 128px;
  }

  .footer-item {
    order: 0;
  }
  
  .circles {
    order: 1;
  }

}