* {
  min-height: 50px;
  min-width: 50px;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
}

main {
  border: 2px solid green;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
}

.blue {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
}

.red {
  border: 2px solid red;
}

.orange {
  border: 2px solid orange;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.signUp {
  display: flex;
  flex-direction: column;
}

.purple {
  border: 2px solid purple;
}

.shows {
  display: flex;
  flex-direction: column;
}

.turquoise {
  border: 2px solid turquoise;
}

footer {
  border: 2px solid pink;
  display: flex;
  flex-direction: column;
}




