@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";

@import "_fonts.scss"; //(usage) font-family: $font-family-rubik;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-rubik;
  color: $color-white;
  background-color: $color-black;
  margin-top: 41px;
  margin-left: 20px;
}

.blue {
  border: 2px solid blue;
}


.turquoise {
  border: 2px solid turquoise;
}

.purple {
  border: 2px solid purple;
}