$color-citrus: #FBFF21;
$color-streetlight: #FBFF21;
$color-kiwi: #CCD00E;
$color-black: #211B1B;
$color-white: #FFFFFF;
$color-menu-bg: #34352A;
$color-menu-text: #D02060;
$color-disable-button-text: #A7A4A4;