$debugging: false;

@mixin testBorder {
  @if $debugging {
    outline: 2px solid white;
  }
}

header, .viewport1, .viewport2, footer {
    margin: 67px 60px 37px 60px;
}

/************* header ***********/
aside {
    display: block;
}
/************* end of header ***********/

/************* viewport 1 ***********/
.viewport1 {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 720px;
    align-content: space-between;
}

.intro-text {
    width: 649px;
    height: 250px;
    margin: 0 0 225px 0;
    padding-right: 140px;
}

.blob {
    order: 2;
    width: 500px;
    margin: 0;
    padding-top: 235px;
}

.newsletter {
    order: 1;
    margin: 0;
    width: 649px;
}
/************* end of viewport 1 ***********/

/************* viewport 2 ***********/
.viewport2 {
    @include testBorder;
    display: flex;
    height: 864px;
    width: 1320px;
}

.all-shows-wrapper {
    margin-left: 132px;
}

.shows-wrapper2 {
    margin-left: 20px;
}

.shows-wrapper1, .shows-wrapper2 {
    margin-top: 0;
}

.show-card-img, .show-card-text {
    width: 315px;  
}

.show-card-img {
    height: 311px;
}

.show-card1, .show-card2, .show-card3, .show-card4 {
    @include testBorder;
    height: 422px;
    margin-bottom: 20px;
}

.show-card-img1, .show-card-img3 {
    margin-top: 0;
} 

.show-card-img2, .show-card-img4 {
    margin-top: 20px;
}

.show-card-text {
    height: 80px;
}
/************* end of viewport 2 ***********/

/************* cookies ***********/
#cookies-bar {
    @include testBorder;
    height: 100px;
    display: flex;
    padding-top: 0;
  
    p {
    @include testBorder;
    margin-top: 28px;
    height: 45px;
    width: 873px;
    }

    #btn-accept-cookies {
        @include testBorder;
        margin-left: 237px;
        margin-top: 20px;
    }
  }
/************* end of cookies ***********/

/************* footer ***********/
footer {
    @include testBorder;
    margin-top: 73px;
    height: 300px;
}

.footer-column-wrapper {
    @include testBorder;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 873px;
    height: 134px;
    margin-left: 0;
}

.footer-column {
    margin-top: 0;
}

h5 {
    margin-top: 22px;
}

.footer-icon {
    margin: 103px 60px 37px 287px;
}
/************* end of footer ***********/