$debugging: false;

@mixin testBorder {
  @if $debugging {
    outline: 2px solid white;
  }
}

body {
    margin: 67px 60px 37px 60px;
}


.viewport1 {
    flex-flow: row wrap;
    margin-left: 56px; 
    justify-content: stretch; /*or flex-end? */
}

.intro-text, .newsletter {
    width: 30%;/*width is temp and not accurate*/
}

.blob {
    width: 60%;/*width is temp and not accurate*/
    align-self: stretch; /*not right. not stretching as should*/
}

.newsletter {
    margin-left: 4px;
}

/************* viewport 2 ***********/
.viewport2 {
    @include testBorder;
    display: flex;
    // height: 754px;
    // width: 538px;
 

//     position: absolute;
//     margin-top: 1104px;
}

.shows-text-wrapper {
    @include testBorder;
}

.all-shows-wrapper {
    margin-left: 132px;
}

.shows-wrapper2 {
    margin-left: 24px;
}

.shows-wrapper1, .shows-wrapper2 {
    margin-top: 0;
}

.show-card-img {
    margin-top: 0;
}

/************* end of viewport 2 ***********/