$debugging: false;

@mixin testBorder {
  @if $debugging {
    outline: 2px solid white;
  }
}

.first-page, .second-page, footer {
    padding-left: 60px;
    padding-right: 60px;
}

/************* header ***********/
header {
    // @include testBorder;
    // display: flex;
    // justify-content: space-between;

    h1 {
        @include testBorder;
        margin-top: 8px;
        height: 188px;
    }
}


#menu-icon {
    @include testBorder;
  }
/************* end of header ***********/

/************* first-page ***********/

.first-page {
    padding-bottom: 140px;
}
main {
    width: 100%;
    height: 724px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.intro-text {
  width: 38%;
  @include testBorder;
}

.blob-wrapper {
    @include testBorder;
    width: 50%;
    height: 724px;
    order: 2;
}

.newsletter {
    @include testBorder;
    order: 1;
    margin: 0;
    padding-bottom: 50px;
    width: 50%;
}
/************* end of first-page ***********/

/************* second-page ***********/
.second-page {
    @include testBorder;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
}

.shows-text-wrapper {
    width: 38%;
    @include testBorder;
}

.all-shows-wrapper {
    width: 50%;
    flex-direction: row;
}

.shows-wrapper2 {
    margin-left: 20px;
}

.shows-wrapper1, .shows-wrapper2 {
    margin-top: 0;
}

.show-card-img, .show-card-text {
    width: 316px;  
}

.show-card-img {
    height: 312px;
}

.cards {
    @include testBorder;
    height: 420px;
    margin-bottom: 20px;
}

.show-card-img1, .show-card-img3 {
    margin-top: 0;
} 

.show-card-img2, .show-card-img4 {
    margin-top: 20px;
}

.show-card-text {
    height: 80px;
}
/************* end of viewport 2 ***********/

/************* cookies ***********/
#cookies-bar {
    @include testBorder;
    height: 100px;
    display: flex;
    padding-top: 0;
  
    p {
    @include testBorder;
    margin-top: 28px;
    height: 44px;
    width: 872px;
    }

    #btn-accept-cookies {
        @include testBorder;
        margin-left: 236px;
        margin-top: 20px;
    }
  }
/************* end of cookies ***********/

/************* footer ***********/
footer {
    @include testBorder;
    height: 300px;
}

.footer-column-wrapper {
    @include testBorder;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 872px;
    height: 132px;
    margin: 0;
}

.footer-column {
    margin-top: 0;
}

h5 {
    margin-top: 24px;
}

/************* end of footer ***********/