$font-family-rubik: 'Rubik', sans-serif;
$font-family-rubikmono: 'Rubik Mono One', sans-serif;

h1 {
    font-family: $font-family-rubikmono;
    font-size: 4.5rem;
    line-height: 110px;
    margin: 0;
}

h2 {
    font-family: $font-family-rubikmono;
    font-size: 2.5rem;
    line-height: 50px;
}

h3 {
    font-family: $font-family-rubikmono;
    font-size: 1.5rem;
}

.h3-alt {
    font-size: 1.13rem;
}

h4 {
    font-family: $font-family-rubikmono;
    font-size: 1.13rem;
}

h5 { 
    font-family: $font-family-rubikmono;
    font-size: 1rem;
    margin-top: 30px;
}

p {
    font-size: 1.25rem;
    line-height: 32px;
}

input, button, .menu-link, .sidenav-text {
    font-family: $font-family-rubikmono;
}

button {
    font-size: 1.5rem;
}
  
input {
    font-size: 0.88rem;
}

.link {
    font-size: bold;
}

.menu-link {
    font-size: 3rem;
}

.show button {
    font-size: 3rem;
}

.sidenav-text {
    font-size: 1.13rem;
}

.disclaimer-text {
    font-size: 0.88rem;
    line-height: 22px;
}
