$font-family-rubik: 'Rubik', sans-serif;
$font-family-rubikmono: 'Rubik Mono One', sans-serif;

body {
    font-family: $font-family-rubik;
}

h1 {
    font-family: $font-family-rubikmono;
    font-size: 4.5rem;
    line-height: 6.9rem;
    margin: 0;
}

h2 {
    font-family: $font-family-rubikmono;
    font-size: 2.5rem;
    line-height: 3.1rem;
}

h3 {
    font-family: $font-family-rubikmono;
    font-size: 1.5rem;
}

.h3-alt {
    font-size: 1.13rem;
}

h4 {
    font-family: $font-family-rubikmono;
    font-size: 1.13rem;
}

h5 { 
    font-family: $font-family-rubikmono;
    font-size: 1rem;
    margin-top: 30px;
}

p {
    font-size: 1.25rem;
    line-height: 2rem;
}

input, button, .menu-link, .sidenav-text {
    font-family: $font-family-rubikmono;
}

button {
    font-size: 1.5rem;
}
  
input {
    font-size: 0.9rem;
}

.link {
    font-size: bold;
}

.menu-link {
    font-size: 3rem;
}

.show button {
    font-size: 3rem;
}

.disclaimer-text {
    font-size: 0.88rem;
    line-height: 1.4rem;
}