@import "_colors.scss";

$debugging: false;

@mixin testBorder {
  @if $debugging {
    outline: 2px solid white;
  }
}

footer {
  @include testBorder;
  align-items: center;
  justify-content: space-between;
}

.footer-icon {
  @include testBorder;
  width: 160px;
  height: 160px;
}

.footer-column-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 552px; 
  margin-top: 82px;
  margin-bottom: 232px;
}

.footer-column {
  width: 203px;
  border-top: 10px solid $color-citrus;
}

h5:hover {
  color: $color-kiwi;
  cursor: pointer;
}