@import "_colors.scss"; // (usage) color: $color-citrus

$debugging: false;

@mixin testBorder {
  @if $debugging {
    outline: 2px solid white;
  }
}


header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  overflow: hidden;
}

#disabled {
  z-index: 2;
}

#menu-icon{
  width: 110px;
} 

.menu-icon {
  position: fixed;
  width: 140px !important;
  left: 50px;
}

