@import "_colors.scss"; // (usage) color: $color-citrus

$debugging: true;

@mixin testBorder {
  @if $debugging {
    outline: 2px solid white;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

header > aside {
  width: 109px;
  height: 112px;
  font-size: 100px;
}

#menu {
  z-index: 2;
}

#menu-icon {
  @include testBorder;
  width: 140px;
}