$debugging: true;

@mixin testBorder {
  @if $debugging {
    outline: 2px solid white;
  }
}


.first-page, .second-page, footer {
    @include testBorder;
    padding-right: 40px;  //or 24? seems better with even sides but design says different?
    padding-left: 40px;
}


/************ first-page ************/
.first-page {
    @include testBorder;
    padding-top: 64px;
    padding-bottom: 212px;
}

.intro-text {
    margin-top: 56px;
    width: 70%;
}

.blob-wrapper { 
    @include testBorder;
    width: 100%;
    height: 724px;
    .blob-svg {
        width: 720px;
        height: 724px;
    }
}

.newsletter {
    margin-top: 128px;
}

.sign-up {
    margin-top: 60px;
}

input {
    width: 400px;
    margin-right: 20px;
    margin-bottom: 0;
}
/************ end of first-page ************/

/************* second-page ***********/
.second-page {
    padding-bottom: 180px;
}

.shows-text-wrapper {
    width: 70%;
}

.h2-wrapper {
    @include testBorder;

    .hyphons {
        display: none;
    }
}

.shows-text2 {
    margin-bottom: 20px;
}

.all-shows-wrapper {
    display: flex;
}

.shows-wrapper2 {
    margin-top: 128px;
}
/************* end of second-page ***********/


/************* cookies ***********/
.cookies-text {
    max-width: 876px;
}    
/************* end of cookies ***********/


/************* footer ***********/
footer {
   flex-direction: row;
}

.footer-column-wrapper {
    order: 0;
    margin: 0;
    height: 564px;
    width: 203px;
    margin-bottom: 48px; 
}

.footer-icon {
    order: 1;
    margin: 0;
}
/************* end of footer ***********/