$debugging: true;

@mixin testBorder {
  @if $debugging {
    outline: 2px solid white;
  }
}

header, .viewport1, .viewport2, footer {
    margin: 64px 24px 52px 40px;
}

/************ viewport 1 ************/
.viewport1 {
    @include testBorder;
    margin-bottom: 208px;
}

.intro-text {
    margin-top: 56px;
    margin-right: 220px;
    max-width: 720px;

    p {
        width: 508px;
    }
}

.blob { 
    @include testBorder;
    margin-right: 28px;

    .blob-svg {
        width: 720px;
        height: 724px;
    }
}

.newsletter {
    margin-top: 128px;
}

.sign-up {
    margin-top: 60px;
    // flex-direction: row;
}

input {
    width: 400px;
    margin-right: 20px;
    margin-bottom: 0;
}
/************ end of viewport 1 ************/

/************* viewport 2 ***********/
.viewport2 {
    @include testBorder;
    height: 900px;
    width: 512px;
    margin-top: 208px;
}

.h2-wrapper {
    @include testBorder;
    width: 536px;

    .hyphons {
        display: none;
    }
}

.shows-text2 {
    margin-bottom: 20px;
}

.all-shows-wrapper {
    display: flex;
}

.shows-wrapper2 {
    margin-top: 128px;
}
/************* end of viewport 2 ***********/

/************* cookies ***********/
.cookies-text {
    max-width: 876px;
}    
/************* end of cookies ***********/

/************* footer ***********/
footer {
    @include testBorder;
    display: flex;
    height: 780px;
    margin-top: 1200px;
}

.footer-column-wrapper {
    order: 0;
}

.footer-icon {
    order: 1;
    margin-top: 320px;
    margin-left: 260px;
}
/************* end of footer ***********/