$debugging: false;

@mixin testBorder {
  @if $debugging {
    outline: 2px solid white;
  }
}

.sign-up, .all-shows-wrapper, footer {
    flex-direction: row;
}

/************* viewport 2 ***********/
.viewport2 {
    @include testBorder;
    height: 900px;
    width: 511px;
    margin-left: 40px;
  }

.h2-wrapper {
    @include testBorder;
    width: 538px;

    .hyphons {
        display: none;
    }
}

.shows-text2 {
    margin-bottom: 20px;
}

.all-shows-wrapper {
    display: flex;
}

.shows-wrapper2 {
    margin-top: 128px;
}
/************* end of viewport 2 ***********/

/************* footer ***********/
footer {
    @include testBorder;
    //  width: 249px;
     height: 780px;
     margin-top: 1200px;
 }

.footer-column-wrapper {
    order: 0;
}

.footer-icon {
    order: 1;
    margin-top: 320px;
    margin-left: 260px;
}
/************* end of footer ***********/