@import "_colors.scss"; // (usage) color: $color-citrus
@import "_fonts.scss"; //(usage) font-family: $font-family-rubik;

$debugging: true;

@mixin testBorder {
  @if $debugging {
    outline: 2px solid white;
  }
}

header, .viewport1, .viewport2, footer {
  margin-left: 20px
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

/************* viewport 1 ***********/
.viewport1 {
  margin-bottom: 326px;
}

.intro-text {
  margin: 28px 49px 28px 0;
}

.citrusCircus, .blob, .newsletter {
  width: 100%;
}

.newsletter {
  margin-top: 85px;
}

.newsletter-text {
  margin-right: 52px;
}

.sign-up {
  margin-top: 25px;
}

input, button {
  height: 55px;
  border: 3px solid $color-citrus;
}

input {
  margin-bottom: 40px;
  padding: 13px 16.75px;
  background-color: transparent;
  border-radius: 0 20px 20px 20px;
  width: 335px;
}

input::placeholder {
  color: white;
}

button {
  background-color: $color-citrus;
  color: $color-black;
  border-radius: 20px 20px 0 20px;
  width: 210px;
}

.rotate {
display: block;
transform: rotate(-1deg);
}

.link {
text-decoration: none;
color: $color-citrus;
font-size: bold;
}

/************* viewport 2 ***********/
.viewport2 {
  @include testBorder;
  height: 2299px;
  width: 335px;
}

.h2-wrapper {
  width: 390px;
  word-wrap: break-word;
  margin-bottom: 28px;
}

.shows-text1 {
  margin-bottom: 40px;
}

.shows-text2 {
  margin-bottom: 60px;
}

.show-card-img {
  width: 335px;
  height: 330px;
  background-image: url("../../dist/img/man-in-red-coat-on-stage-mark-williams-unsplash.jpg");
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.show-card-text {
  background-color: $color-kiwi;
  width: 335px;
  height: 85px;
  border-radius: 20px 20px 0px 20px;
  text-align: center;
  
  h3 {
    color: $color-black;
    padding-top: 12px;
  }
}

/************* cookies ***********/
#cookies-bar {
  background-color: $color-disable-button-text;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 16px 28px 32px 20px;

  p {
    margin-bottom: 16px;
  }
}
/************* end of cookies ***********/