@import "_colors.scss"; // (usage) color: $color-citrus
@import "_fonts.scss"; //(usage) font-family: $font-family-rubik;

$debugging: true;

@mixin testBorder {
  @if $debugging {
    outline: 2px solid white;
  }
}
@mixin mobileScreen {
  width: 375px;
  // height: 667px;
}

.first-page, .second-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;

}

.first-page, .second-page, footer {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
}

/************* first-page ***********/
.first-page {
  padding-top: 40px;
  padding-bottom: 336px;
}

.intro-text {
  margin: 28px 48px 28px 0;
  max-width: 575px;
}

.blob-wrapper {
  position: relative;
  height: 600px;

  // @include testBorder;
  .blob-svg {
    @include testBorder;
  position: absolute;
    width: 100%;
    // right: -40px;
    height: 600px;
  }
  .mobile {
    display: block;
  }
  .tablet-desktop {
    display: none;
  }
}

.newsletter {
  margin-top: 84px;
}

.newsletter-text {
  margin-right: 52px;
}

.sign-up {
  margin-top: 24px;
}

input, button {
  height: 56px;
  border: 3px solid $color-citrus; // not adjust to 4?
}

input {
  margin-bottom: 40px;
  padding: 12px 16.75px;
  background-color: transparent;
  border-radius: 0 20px 20px 20px;
  max-width: 336px;
}

input::placeholder {
  color: white;
}

button {
  background-color: $color-citrus;
  color: $color-black;
  border-radius: 20px 20px 0 20px;
  width: 212px; // not adjust to 4? yes done!
}

.rotate {
display: block;
transform: rotate(-1deg);
}

.link {
text-decoration: none;
color: $color-citrus;
}
/************* end of first-page ***********/

/************* second-page ***********/
.second-page {
  padding-bottom: 184px;
}

.shows-text-wrapper {
  margin-left: 0px;
  margin-right: 48px;
  max-width: 576px;
}

.h2-wrapper {
  word-wrap: break-word;
  margin-bottom: 20px;
}

.all-shows-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shows-text1 {
  margin-bottom: 48px;
}

.shows-text2 {
  margin-bottom: 60px;
}

.show-card-img-wrapper {
  overflow: hidden;
  width: 335px;
  height: 328px;
  position: relative;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 20px;

  .show-card-img {
    position: absolute;
    left: -100px;
  }

}

.show-card-text {
  background-color: $color-kiwi;
  width: 335px;
  height: 84px;
  border-radius: 20px 20px 0px 20px;
  text-align: center;
  
  h3 {
    color: $color-black;
    padding-top: 12px;
  }
}
/************* end of second-page ***********/

/************* cookies ***********/
#cookies-bar {
  background-color: $color-disable-button-text;
  position: fixed;
  width: 100%;
  padding: 16px 28px 32px 20px;
    bottom: 0;

  .cookies-text {
    margin-bottom: 16px;
  }
}
/************* end of cookies ***********/