// header.nav {} = Denna regel gäller bara för ett header-element som har en nav i sig. Dvs denna regel kommer ej gälla page 2: headern. Obs ska eg heta nav såklart. 

.nav {
    header {
        background: rgba(128, 128, 128, 0.5);
        height: 100px;
        position: fixed;
        top: 0;
        width: 100vw;
    }
}